/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Armie Schoch
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/


@import url("../accelerate-theme/style.css");

/* HOMEPAGE STYLES */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
    height: auto;
    margin: 0 0 5em;
    padding: 8em 0;
	text-align: center;
}

/*Blog Post styles*/
div.blog-post {
  width: 50%;
  /*float: left;*/
  margin-bottom: 2em;
}

.blog-post h4 {
  font-size: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 2em 0 .5em;
}

.blog-post h3 {
  font-size: 1.5em;
}

.read-more-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #45ac9d;
  text-transform: uppercase;
}

/*Case Studies*/
.case-study {
  clear:both;
}
div.main-content {
  margin: 0;
  flex: none;
}
aside.case-study-sidebar {
  float: left;
  width: 390px;
  text-align: left;
  word-spacing: 0.1em;
  letter-spacing: 0.02em;
}
aside.case-study-sidebar p {
  font: 17px !important;
  color: #000;
  margin: 15px 0 0;
}
aside.case-study-sidebar h6 {
  margin: 15px 0 0;
}
aside.case-study-sidebar h2 {
  /*margin: 100px 0 0;*/
  font-size: 30px;
}
aside.case-study-sidebar h5 {
  text-transform: capitalize;
  font-size: 18px!important;
  font-weight: 500 !important;
  margin: 0;
  color: #ccc;
}
div.case-study-images {
  float: left;
  margin: 50px 0 50px;
}
div.case-study-images img {
  display: block;
  margin: 0 20px 0;
  border: 1px solid #dddddd;
  width: 500px;
  height: auto;
}
.featured-work .site-content {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
ul.homepage-featured-work {
  list-style: none;
}
li.individual-featured-work h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
}
li.individual-featured-work {
  float: left;
  padding: 0 10px;
  max-width: 33%;
  display: inline-block;
}
/** Contact Form **//
#ninja_forms_required_items, .nf-field-container {
  clear: none;
  float: left;
  margin-right: 45px;
  width: 100%;
}
.text-area-container {
  clear: both;
  width: 100%;
}

.email-container {
  margin-right: 0;
}
