/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Armie Schoch
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/


@import url("../accelerate-theme/style.css");
@import url("../accelerate-theme-child/single-posts.css")

/* HOMEPAGE STYLES */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
    height: auto;
    margin: 0 0 5em;
    padding: 8em 0;
	text-align: center;
}

/*Blog Post styles*/
div.blog-post {
  width: 50%;
  /*float: left;*/
  margin-bottom: 2em;
}

.blog-post h4 {
  font-size: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 2em 0 .5em;
}

.blog-post h3 {
  font-size: 1.5em;
}

.read-more-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #45ac9d;
  text-transform: uppercase;
}

/*Case Studies*/
aside.case-study-sidebar {
  float: left;
  width: 300px;
  text-align: left;
  word-spacing: 0.1em;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
aside.case-study-sidebar .subtitle {
  font: 12px !important;
  color: #ccc;
  margin: 15px 0 0;
}
aside.case-study-sidebar h6 {
  margin: 15px 0 0;
}
aside.case-study-sidebar h2 {
  line-height: 0.01em;
  margin: 150px 0 0;
}
div.case-study-images {
  float: left;
  margin: 0;
}
div.case-study-images img {
  display: block;
  margin: 0 0 20px;
  border: 1px solid #dddddd;
  max-width: 80%;
}

.featured-work h4 {
  text-align: center;
}
ul.homepage-featured-work {
  list-style: none;
  margin: 17px;
}
/*li.individual-featured-work figure, img {
  float: left;
  margin: 0
  display: inline-block;
}*/
li.individual-featured-work {
  float: left;
  /*margin: 10px 5px 0;*/
  padding: 0 10px;
  max-width: 33%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li.individual-featured-work h4{
  text-align: center;
}
