/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Armie Schoch
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/


@import url("../accelerate-theme/style.css");

/* HOMEPAGE STYLES */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
    height: auto;
    margin: 0 0 2em;
    padding: 2em 0;
	text-align: center;
}

/*Blog Post styles*/
div.blog-post {
  width: 50%;
  margin-bottom: 2em;
}

.blog-post h4 {
  font-size: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 2em 0 .5em;
}

.blog-post h3 {
  font-size: 1.5em;
}

.read-more-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #45ac9d;
  text-transform: uppercase;
}

/******* CASE STUDIES *******/
.case-study {
  clear:both;
}
div.main-content {
  margin: 0;
}
aside.case-study-sidebar {
  float: left;
  width: 400px;
  text-align: left;
  word-spacing: 0.1em;
  letter-spacing: 0.02em;
}
aside.case-study-sidebar p {
  font: 17px !important;
  color: #000;
  margin: 15px 0 0;
}
aside.case-study-sidebar h6 {
  margin: 15px 0 0;
}
aside.case-study-sidebar h2 {
  /*margin: 100px 0 0;*/
  font-size: 30px;
}
aside.case-study-sidebar h5 {
  text-transform: capitalize;
  font-size: 18px!important;
  font-weight: 500 !important;
  margin: 0;
  color: #ccc;
}
div.case-study-images {
  float: left;
  margin: 50px 50px 0;
}
div.case-study-images img {
  display: block;
  margin: 0 20px 0;
  border: 1px solid #dddddd;
  width: 400px;
  height: auto;
}
.featured-work .site-content {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
ul.homepage-featured-work {
  list-style: none;
}
li.individual-featured-work h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
}
li.individual-featured-work {
  float: left;
  padding: 0 10px;
  max-width: 33%;
  display: inline-block;
}
ul.homepage-featured-work {
  list-style: none;
}

      /** ABOUT PAGE STYLES

      **/
.page-content {
  margin: 0 auto;
  max-width: 960px;
}
div.page-content h4, h5 {
  text-transform: none;
}
p.about-serv {
    text-align: center;
    font-size: 16px;
    max-width: 476px;
    display: block;
}
p.about-intro {
  color: #fff;
  padding: 0 60px;
  text-align: center;
  font-size: 26px;
  max-width: 730px;
  margin: 0 auto;
}
div.about-content {
  padding: 64px 25px 75px 306px;
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
}
div.individual-image {
  float: left;
  margin: 50px 25px 40px;
}
div.about-influencer-content {
  padding: 50px 300px 50px 25px;
  text-align: justify;
  font-size: 16px;
}
div.individual-mapping-image {
  float: right;
  margin: 50px 25px 0;
}
div.about-socialmedia-content {
  padding: 25px 25px 50px 306px;
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
}
div.individual-socialmedia-image {
  float: left;
  margin: 86px 25px 0px;
}
div.about-designdev-content {
  padding: 50px 300px 50px 25px;
  text-align: justify;
  font-size: 16px;
}
div.individual-designdev-image {
  float: right;
  margin: 78px 25px 0;
}
.about-services .page-content h4 {
  text-align: center;
  margin-top: 50px;
}

/******** MOBILE RESPONSIVE STYLES *******/

@media screen and (max-width: 730px){

  li.individual-featured-work {
      padding: 20px 10px;
      display: block;
      max-width: 100%;
  }

  li.individual-featured-work h3 {
    padding: 10px;
    text-align: center;
    text-transform: none;
    font-weight: 300;
}
  .blog-post h3 {
    margin: 0;
    font-size: 1.125em;
}
  div.blog-post {
    width: 100%;
}

  p.about-serv {
    margin: 30px;
}
  p.about-intro {
    font-size: 18px;
}
  div.about-content,
  div.about-influencer-content,
  div.about-socialmedia-content,
  div.about-designdev-content {
    padding: 0;
    margin: 20px;
}
  div.individual-image,
  div.individual-mapping-image,
  div.individual-socialmedia-image,
  div.individual-designdev-image {
    max-width: 100px;
    margin: 0 40% 0;
}
  div.page-content h4, h5 {
    margin: 30px auto;
    text-align: center;
}
.nf-form-content {
     width: 100%!important;
}

#nf-field-1-container {
    float: none;
    margin-right: 0;
    width: 100%;
}
#nf-field-2-container {
     width: 100%;
     float: none;
     margin-left: 0;
}
}
